body {
	background-color: white;
	font-family: system-ui;
}

#toolbar {
	width: 100%;
	background-color: lightsteelblue;
	position: fixed;
}

#toolbar button {
	height: 30px;
	width: 150px;
	font-size: 1em;
	margin: 10px;
}

.inline-block {
	display: inline-block;
}

#add-macro-input {
	visibility: hidden;
	width: 25px;
}

.active #add-macro-input {
	visibility: visible;
}

#sidebar {
	float: right;
	margin: 10px 30px;
	width: 260px;
}

h1 {
	font-size: 1.5em;
}

ul {
	list-style-type: disc;
	padding-left: 30px;
	margin: 10px;
}

.main {
	padding-top: 50px;
}

#template {
	display: none;
}

.stopwatch-divider {
	display: inline-block;
	width: 212px;
	height: 200px;
	padding: 10px 10px 10px 0;
	vertical-align: top;
}

.stopwatch {
	background-color: cornsilk;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-left: 10px;
	font-family: system-ui;
}

.divider {
	display: inline-block;
	background-color: gray;
	height: 200px;
	width: 2px;
	vertical-align: top;
	visibility: hidden;
	float: left;
}

.stopwatch-divider[id="0"] {
	background-color: transparent;
	visibility: hidden;
}

#final-stopwatch {
	box-sizing: border-box;
	opacity: .5;
	border: 1px solid black;
	position: relative;
}

#final-stopwatch div {
	position: absolute;
	top: 50%;
	left: 51%;
	width: 190px;
	transform: translate(-50%, -50%);
	font-size: 1em;
}

.name {
	box-sizing: border-box;
	outline: none;
	background-color: white;
	font-size: 1.5em;
	width: 160px;
	height: 30px;
	text-align: center;
	padding: 0;
	border: 1px solid #d0d0d0;
}

.remove {
	outline: none;
	background-color: #ff3c3c;
	color: white;
	font-size: 1em;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border: none;
	float: right;
}

.remove:active {
	background-color: #ff8484;
}

.remove.check {
	border: 2px solid black;
	background-color: white;
}

.time button, .time button:active{
	outline: none;
	display: block;
	background-color: #ffb2b2;
	margin: 10px auto;
	width: 200px;
	height: 125px;
	border: 3px solid black;
	color: black;
	font-size: 2.5em;
	font-family: "Courier New";
}

.time button.going {
	background-color: #88e888;
}

.clear {
	float: left;
	margin: 0 10px;
}

button {	
	-webkit-appearance: none;
	outline: none;
	background-color: white;
}

button:active {
	background-color: lightgray;
}

.keybind {
	width: 100px;
	display: block;
	float: right;
	margin: 0 10px;
}

.keybind span {
	float: left;
}

.keybind input {
	float: right;
	width: 25px;
	border: 1px solid #d0d0d0;
}
